
.empty-search-results{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.empty-search-results__description{
    color: #616161;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    margin: 0;
}

.search-results{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.8rem;
}
.search-results__quantity{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #2B2B2B;
    margin-bottom: 2rem;
}
.search-results__table{
    display: flex;
    flex-direction: column;
    height: 57.5rem;
    overflow-y: scroll;
}
.search-results__table-row{
    display: flex;
    width: 100%;
}
.search-results__table-row-header{
    background-color: #fff;
}
.table-header-space-holder{

}
.table__cell{
    height: 4.8rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin:0 1px;
    padding: 0 1.2rem;
    justify-content: space-between;
    display: flex;
} 
.table__cell-header{
    background-color: #F5F5F5;
} 
.table__cell__number{
    border-radius: 0.8rem 0 0 0.8rem;
    margin-left:0;
    min-width: 4.8rem;
    justify-content: center;
    color: #000000;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.table__cell__entry{
    min-width: 11.3rem;
    color: #175BC0;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 600;
} 
.table__cell-header-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #000000;
}
.table__cell-header-sort-btn{
    height: 1.2rem;
    width: 1.68rem;
    padding: 0;
    background-image: url(./assessments/sort-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border:none;
}
.table__cell-header-sort-btn:focus{
    outline: none;
    border:none;
}
.table__cell-header-sort-btn:hover{
    outline: none;
    border:none;
}
.table__cell__entry-names{
    min-width: 16.4rem;
    color: #2B2B2B;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
} 
.table__cell__genes{
    min-width: 16.4rem;
    color: #2B2B2B;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
} 
.table__cell__organism{
    width: 16.4rem;
    color: #2B2B2B;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 400;
} 
.table__cell__organism-label {
    background-color: #D8E7FF;
    display: block;
    padding: 0.2rem 1.2rem;
    border-radius: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}  
.table__cell__subcellular{
    width: 18.9rem;
    color: #2B2B2B;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 400;
    padding: 0.4rem 1.1rem;
}
.table__cell__subcellular-overflow-box {
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 1.9rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table__cell__length{
    border-radius:0 0.8rem 0.8rem 0;
    margin-right: 0;
    min-width: 16.4rem;
    color: #2B2B2B;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.table__cell-header-sort-btn--asc-sorting{
    background-image: url(./assessments/sort-icon-active.svg);
}
.table__cell-header-sort-btn--desc-sorting{
    background-image: url(./assessments/sort-icon-active.svg);
    transform: rotate(180deg);
}

