.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.popup {
    box-shadow: 0px 0px 100vh 100vw rgba(0, 0, 0, 0.1);
    border-radius: 2.4rem;
    background-color: #fff;
    width: 36.33%;
    max-width: 524px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 3.2rem;
    padding-right: 2.7rem;
}
.popup__title {
    margin-top: 2.4rem;
    margin-bottom: 3.8rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.27rem;
}
.popup__input {
    padding: 1.5rem 2.1rem;
    border: 1px solid #D2D2D2;
    background-color: #F5F5F5;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 1.2rem;
    width: 90.8%;
    margin-bottom: 1.8rem;
}
.popup__input::placeholder {
    font-family: 'Nunito','Open Sans', sans-serif;
    color: #838383;
    font-weight: 500;
    line-height: 2rem;
}
.popup__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.2rem;
}
.popup__info-date-input-wrapper{
    position: relative;
    width: 18%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 2px solid rgba(60, 134, 244, 0.6);
    border-radius: 1.2rem;
    padding: 1rem 1.6rem;
}

.popup__info-date-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .popup__info-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .popup__buttons-wrapper {
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
  }
  .popup__buttons {
    cursor: pointer;
    padding: 1.6rem 0;
    width: 49%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Nunito','Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .popup__buttons-cancel {
    background-color: transparent;
    color: #0053CF;
  }
  .popup__buttons-add {
    color: #FFFFFF;
    background-color: #3C86F4;
  }
  .popup__buttons-add--disabled {
    background-color: #D3D3D3;
  }













  .modal{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 41%;
    max-width: 524px;
    min-height: 350px;
    max-height: 500px;
    box-shadow: 0px 0px 100vh 100vw rgba(0, 0, 0, 0.1);
    border-radius: 2.4rem;
    background-color: #fff;
    padding: 2.4rem 2.7rem 2.2rem 3.2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal__title{
    font-size: 2.4em;
    line-height: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .modal__list-caption{
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .modal__list {
    margin-left: 2.4rem;
    padding: 0;
    padding-right: 7.7rem;
    overflow-y: scroll;
  }
  .modal__list-item{
    display: block;
    display: -webkit-box;
    list-style: none;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 4.9rem;
    overflow-wrap: break-word;
  }
  .modal__button{
    cursor: pointer;
    padding: 1.6rem 0;
    width: 100%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Nunito','Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #ffffff;
    background-color: #3C86F4;
    margin-top: auto;
  }