@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito:wght@400;500;600;700;800&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito','Open Sans', sans-serif;
     font-size: 10px;
     position: relative;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
@keyframes btnHover {
    from{
        background-color: rgba(60, 134, 244, 0.15);
    } to {
        background-color: #3C86F4;
        color: #FFFFFF;
    }
    
}
#functional-example {
    width: 74.3%;
    margin-left:auto;
    margin-right: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4.4rem 0;
}
.header__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: #1D1D1D;
}
.header__weather-widget {
    padding: 1rem 2.2rem;
    display: flex;
    align-items: center;
    min-width: 332px;
    box-sizing: border-box;
   
}
.header__weather-widget-icon {
    width: 4.4rem;
}
.header__weather-widget-tempreture {
    margin-left: 1rem;
    font-size: 1.8rem;
    line-height: 3.6rem;
    font-weight: 700;
}
.header__weather-widget-location {
   margin-left: auto;
   transform: translateX(-2rem);
   font-weight: 500;
   font-size: 1.8rem;
   line-height: 2;
   color: #838383;
}
.nav {
    display: flex;
    justify-content: space-between;

}
.nav__input {
    padding: 1.5rem 2.1rem;
    border: 1px solid #D2D2D2;
    background-color: #F5F5F5;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 1.2rem;
    width: 100%;
    margin-right: 4rem;
}
.nav__input::placeholder {
    font-family: 'Nunito','Open Sans', sans-serif;
    color: #838383;
    font-weight: 500;
    line-height: 2rem;
}
.nav__button {
    cursor: pointer;
    font-family: 'Nunito','Open Sans', sans-serif;;
    padding: 1.5rem 3.2rem;
    border: none;
    background-color: rgba(60, 134, 244, 0.15);
    color: #0053CF;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 1.2rem;
    min-width: 15.8rem;
}
.nav__button--disabled {
    background-color: #D3D3D3;
    color: #FFFFFF;
}
.nav__button:hover {
    background-color: rgba(60, 134, 244, 0.35);
}

.all-tasks {
    margin-top: 4.2rem;
    width: 50%
}
.all-tasks__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #000000;
    margin-bottom: 0.4rem;
}
.all-tasks__task {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    padding: 0.8rem 0;
}
.all-tasks__task-checkbox {
    cursor: pointer;
    width: 2.1rem;
    height: 2.1rem;
    margin:0 2rem 0 1.2rem;
    accent-color: #3C86F4;
}
.all-tasks__task-checkbox:checked::after {
    content: '';
    display: block;
    height: 100%;
    background-color: #3C86F4;
    border-radius: 0.4rem;
    background-image: url(./img/mark-white.svg);
    background-repeat: no-repeat;
    background-position: center;
} 


.all-tasks__task-info-wrapper {
    display: flex;
    flex-direction: column;
}
.all-tasks__task-title {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 0.9rem;
    max-width: 38.2rem;
    overflow-wrap: break-word;
    
}
.all-tasks__task-caption-wrapper {
    display: flex;
    align-items: center;
}
.all-tasks__task-tag {
    padding: 0.2rem 0.8rem;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-right: 1rem;
}
.all-tasks__task-tag--health {
    background-color:rgba(60, 134, 244, 0.31);
    color: #0053CF;
}
.all-tasks__task-tag--work {
    background-color:#E8D7FF;
    color: #9747FF;    
}
.all-tasks__task-tag--home {
    background-color: #E2F6E2;
    color: #639462;    
}
.all-tasks__task-tag--other {
    background-color: #FFECC7;
    color: #EA8C00;
}



.all-tasks__task-date {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #838383;
}
.all-tasks__task-button {
    cursor: pointer;
    background-image: url(./img/Delete.svg);
    width: 1.6rem;
    height: 1.6rem;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    margin-left: auto;
    margin-right: 0.8rem;
}
.all-tasks__task-button:hover {
    background-image: url(./img/Delete-blue.svg);
    background-size: contain;
}



.completed-tasks {
    margin-top: 4.2rem;
    width: 50%
}
.completed-tasks__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #000000;
    margin-bottom: 0.4rem;
}
.completed-tasks__task {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    padding: 0.8rem 0;
}
.completed-tasks__task-checkbox {
    cursor: pointer;
    width: 2.1rem;
    height: 2.1rem;
    margin:0 2rem 0 1.2rem;
    border: none;
    accent-color: #D3D3D3;
    
}
.completed-tasks__task-checkbox::after {
    content: '';
    display: block;
    height: 100%;
    background-color: #D3D3D3;
    border-radius: 0.4rem;
    background-image: url(./img/mark-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.completed__tasks-info-wrapper {
    display: flex;
    flex-direction: column;
}
.completed-tasks__task-title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 0.9rem;
    color: #838383;
    max-width: 38.2rem;
    overflow-wrap: break-word;
}
.completed__task-caption-wrapper {
    display: flex;
    align-items: center;
}
.completed-tasks__task-tag {
    padding: 0.2rem 0.8rem;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-right: 1rem;
}
.completed__task-tag--completed {
    background-color:#F5F5F5;
    color: #838383;
}
.completed-tasks__task-date {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #838383;
}




.popup {
    box-shadow: 0px 0px 100vh 100vw rgba(0, 0, 0, 0.1);
    border-radius: 2.4rem;
    background-color: #fff;
    width: 36.33%;
    max-width: 524px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 3.2rem;
    padding-right: 2.7rem;
}
.popup__title {
    margin-top: 2.4rem;
    margin-bottom: 3.8rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.27rem;
}
.popup__input {
    padding: 1.5rem 2.1rem;
    border: 1px solid #D2D2D2;
    background-color: #F5F5F5;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 1.2rem;
    width: 90.8%;
    margin-bottom: 1.8rem;
}
.popup__input::placeholder {
    font-family: 'Nunito','Open Sans', sans-serif;
    color: #838383;
    font-weight: 500;
    line-height: 2rem;
}
.popup__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.2rem;
}
.popup__info-tags-wrapper {

}
.popup__info-tag {
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    border-radius: 0.6rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-right: 1.2rem;
}
.popup__info-tag--health {
    background-color: rgba(60, 134, 244, 0.31);
    color: #0053CF;
}
.popup__info-tag--health--selected {
    border: 1px solid #0053CF;
}
.popup__info-tag--work {
    background-color: #E8D7FF;
    color: #9747FF;
}
.popup__info-tag--work--selected {
    border: 1px solid #9747FF;
}
.popup__info-tag--home {
    background-color: #E2F6E2;
    color: #639462;
}
.popup__info-tag--home--selected {
    border: 1px solid #639462;
}
.popup__info-tag--other {
    background-color: #FFECC7;
    color: #EA8C00;
}
.popup__info-tag--other--selected {
    border: 1px solid #EA8C00;
}
.popup__info-date-input-wrapper{
    position: relative;
    width: 18%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 2px solid rgba(60, 134, 244, 0.6);
    border-radius: 1.2rem;
    padding: 1rem 1.6rem;
}

.popup__info-date-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .popup__info-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .popup__buttons-wrapper {
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
  }
  .popup__buttons {
    cursor: pointer;
    padding: 1.6rem 0;
    width: 49%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Nunito','Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .popup__buttons-cancel {
    background-color: transparent;
    color: #0053CF;
  }
  .popup__buttons-add {
    color: #FFFFFF;
    background-color: #3C86F4;
  }
  .popup__buttons-add--disabled {
    background-color: #D3D3D3;
  }

  .modal{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 41%;
    max-width: 524px;
    min-height: 350px;
    max-height: 500px;
    box-shadow: 0px 0px 100vh 100vw rgba(0, 0, 0, 0.1);
    border-radius: 2.4rem;
    background-color: #fff;
    padding: 2.4rem 2.7rem 2.2rem 3.2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal__title{
    font-size: 2.4em;
    line-height: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .modal__list-caption{
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .modal__list {
    margin-left: 2.4rem;
    padding: 0;
    padding-right: 7.7rem;
    overflow-y: scroll;
  }
  .modal__list-item{
    display: block;
    display: -webkit-box;
    list-style: none;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 4.9rem;
    overflow-wrap: break-word;
  }
  .modal__button{
    cursor: pointer;
    padding: 1.6rem 0;
    width: 100%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Nunito','Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #ffffff;
    background-color: #3C86F4;
    margin-top: auto;
  }
  @media screen and (min-width: 1300px) {
    #functional-example{
        max-width: 1280px;
    }
    .modal {
    }
    
    
}  
  @media screen and (max-width: 1279px) {
    .all-tasks__task-title , .complited-tasks__task-title{
        max-width: 30vw;
    }
    
}   

  @media screen and (max-width: 1100px)  {
    .popup__info-date-input-wrapper{
        font-size: 1.2rem;
    }
    .all-tasks, .completed-tasks {
        width: 75%;
    }
    .all-tasks__task-title , .complited-tasks__task-title{
        max-width: 45vw;
    }
    
}
