.all-tasks {
    margin-top: 4.2rem;
    width: 50%
}
.all-tasks__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #000000;
    margin-bottom: 0.4rem;
}

.all-tasks__title--no-results {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 3.3rem;
    color: #7e7e7e;
    margin-bottom: 0.4rem;
}

