.protein-publications{
    width: 78.2%;
    max-height: 60vh;
    overflow-y: scroll;
}
.publication{
    background-color: #F5F6F8;
    border-radius: 1.2rem;
    padding: 1rem 2.2rem;
    margin-bottom: 1.5rem;
    color: #2B2B2B;
}
.publication__title{
    margin-top: 0.4rem;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}
.publication__authors{
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-bottom: 1.8rem;
    text-decoration: underline;
    max-height: 3.7rem;
    overflow: hidden;
}
.publication__categories{
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.6rem;
}
.publication__categories-title{
    color: #6C6C6C;
}
.publication__cited-for{
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.6rem;
}
.publication__cited-for-title{
    color: #6C6C6C;
}
.publication__source{
    
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 1.9rem;
}
.publication__source-title{
    color: #6C6C6C;
}


.publication__links{
    display: flex;
}
.publication__link{
    border: 1px solid #3C86F4;
    margin-right: 0.9rem;
    border-radius: 0.4rem;
    padding: 0.5rem 0.9rem 0.5rem 1rem;
    color: #3C86F4;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: flex;
}
.publication__link--inactive:hover{
    color: #9F9F9F;
}
.publication__link::after{
    content: '';
    display: inline-block;
    margin-left: 1rem;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(./assessments/link-icon.svg);
}
.publication__link--inactive{
    color: #9F9F9F;
    border-color: #9F9F9F;
}
.publication__link--inactive::after{
    background-image: url(./assessments/link-icon-disabled.svg);
}