.search-filter__button {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    padding: 0;
    background-color: #D8E7FF;
    background-image: url(./assessments/icon_options.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.search-filter__button--opened {
    background-color: #3C86F4;
    background-image: url(./assessments/icon_options--white.svg);
}
.search-filter__button--applied::after {
    content: '';
    display: block;
    border-radius: 100%;
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #3C86F4;
}