* {
    margin: 0;
    padding: 0;
}
@keyframes fadeIn {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

@keyframes hor-movement {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(90%);
    }
  }
  
  @keyframes ver-movement {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh) translateY(-100%);
    }
  }
  @keyframes hor-movement1 {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(0);
    }
  }
  
  @keyframes ver-movement1 {
    0% {
        transform: translateY(100vh) translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
  }
  @keyframes hor-color {
    0% , 9.99% {
        filter: var(--initialDvdColor) hue-rotate(90deg);
    }
    10% , 19.99%{
        filter: var(--initialDvdColor) hue-rotate(270deg);
    }
    20% , 29.99%{
        filter: var(--initialDvdColor) hue-rotate(90deg);
    }
    30% , 39.99%{
        filter: var(--initialDvdColor) hue-rotate(270deg);
    }
    40% , 49.99%{
        filter: var(--initialDvdColor) hue-rotate(90deg);
    }
    50% , 59.99%{
        filter: var(--initialDvdColor) hue-rotate(270deg);
    }
    60% , 69.99%{
        filter: var(--initialDvdColor) hue-rotate(90deg);
    }
    70% , 79.99%{
        filter: var(--initialDvdColor) hue-rotate(270deg);
    }
    80% , 89.99%{
        filter: var(--initialDvdColor) hue-rotate(90deg);
    }
    90% , 100%{
        filter: var(--initialDvdColor) hue-rotate(270deg);
    }
  }
  
  @keyframes ver-color {
    0% , 9.99% {
        filter: var(--initialDvdColor) hue-rotate(0deg);
    }
    10% , 19.99%{
        filter: var(--initialDvdColor) hue-rotate(180deg);
    }
    20% , 29.99%{
        filter: var(--initialDvdColor) hue-rotate(0deg);
    }
    30% , 39.99%{
        filter: var(--initialDvdColor) hue-rotate(180deg);
    }
    40% , 49.99%{
        filter: var(--initialDvdColor) hue-rotate(0deg);
    }
    50% , 59.99%{
        filter: var(--initialDvdColor) hue-rotate(180deg);
    }
    60% , 69.99%{
        filter: var(--initialDvdColor) hue-rotate(0deg);
    }
    70% , 79.99%{
        filter: var(--initialDvdColor) hue-rotate(180deg);
    }
    80% , 89.99%{
        filter: var(--initialDvdColor) hue-rotate(0deg);
    }
    90% , 100%{
        filter: var(--initialDvdColor) hue-rotate(180deg);
    }
  }


.vertical-movement-wrapper {
    /* thanks to this guy! https://codepen.io/jumarjuaton/pen/mdJYWYq it realy helped me to pick color */
    --initialDvdColor: invert(80%) sepia(16%) saturate(6990%) brightness(111%) contrast(104%);    
    animation-name: ver-movement, ver-color, fadeIn;
    animation-duration: 4.242s, 42.42s, 2s;
    animation-iteration-count: infinite, infinite, 1;
    animation-direction: alternate, normal, normal;
    animation-timing-function: linear;
  }

.horizontal-movement-wrapper {
    --initialDvdColor: invert(59%) sepia(31%) saturate(7365%) brightness(92%) contrast(104%);
    animation-name: hor-movement, hor-color, fadeIn;
    animation-duration: 9.423s, 94.23s, 2s;
    animation-iteration-count: infinite, infinite, 1;
    animation-direction: alternate, normal, normal;
    animation-timing-function: linear;
 
}

.screen {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #191919;
    overflow: hidden;

}
 .dvd-logo {
    display: block;
    filter: invert(80%);
    width: 10%;
    caret-color: transparent;
 }
