.authPage__wrapper {
   height: 100vh;
   background-image: url(./assessments/main_page_background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.authPage__popup {
   position: fixed;
   width: 31%; 
   padding: 2.8rem 3rem;
   background-color: #fff;
   border-radius: 1.2rem;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}